.gradle/
build/
local.properties
.idea/
*.iml
*.log
.DS_Store
Thumbs.db
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
google-services.json
.navigation/
*.class
.gradle-cache/
app/release/